{% extends 'post/base.html' %}
{% block content %}
<div class="container">
        <h1>Delete: {{ post.title }}</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            Are you sure you want to delete this post?
            <button type="submit" class="btn btn-sm btn-danger-custom">Yes, delete</button>
            <a href="{% url "home" %}" class="btn btn-sm btn-cancel-custom" role="button">Cancel</a>
        </form>
        <p>
            {{ success_message }}
        </p>
</div>
{% endblock content %}