{% extends 'post/base.html' %}
{% block title %}
    Latest Posts
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="my-3 text-center">Latest Posts</h1>
    <div class="row d-flex justify-content-center">
        {% for post in post_list %}
        <div class="col-md-8">
            <a class="custom-post-title" href="{% url 'post:post' post.id %}">
            <div class="card custom-post-card my-2 border">
                <div class="row m-3 g-0">
                    <h3 class="card-title">{{ post.title }}</h3>
                    <div class="col-md-4">
                            {% if post.photo %}
                            <img src="{{ post.photo.url }}" class="img-fluid rounded-start" alt="...">
                            {% endif %}
                            <p class="card-text text-muted"><small>{{ post.user }} - {{ post.created_at }}</small></p>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">{{ post.body|truncatechars:100 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}