{% extends 'post/base.html' %}
{% block title %}- Update a Post{% endblock %}
{% block og_title %}Update a Post{% endblock %}
{% block description %}On this page you can update a post{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col col-lg-8 border form">

                <div class="container">
                    <p>You can update your location by clicking Update location.</p>
                    <p class="location text-error"></p>
                    <button class="find-location btn-submit-custom btn-sm" role="button">Update location</button>
                </div>
            </br>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset>
                        <legend class="border-bottom mb-4 px-2">
                            Edit
                        </legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-submit-custom" type="submit">Submit</button>
                        <a href="{% url 'post:post' post.id %}"
                           class="btn btn-cancel-custom"
                           role="button">Cancel</a>
                    </div>
                </form>
                <div class="border-top pt-3">{{ success_message }}</div>
            </div>
        </div>
    </div>

    {% load static %}
<script src="{% static 'js/post_location.js' %}"></script>
{% endblock content %}
