{% extends 'post/base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        {% if user.id == post.user.id %}
            <h1>Edit</h1>
            <form method="post" enctype="multipart/form-data">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-sm btn-dark">Submit</button>
            </form>
            <p>
                {{ success_message }}
            </p>
        {% else %}
            You are not allowed here!
        {% endif %}
    {% else %}
        You are not allowed here!
    {% endif %}
{% endblock content %}